//sass --watch css/style.scss:css/style.css

// variables
$tablet: 1024px;
$phone: 360px;



//fonts
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf")
            format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf")
            format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf")
            format("ttf");
    font-weight: bold;
    font-style: normal;
}



// global styles
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 2rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 9.6rem;
    color: rgba(255, 255, 255, 1)
}

// class global style
.bg_global_img {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.tm__width {
    max-width: 1170px;
    margin: 0 auto;
}

.div-text {
    line-height: 140%;
}


// styles
.tm__header-container {
    padding: 2.9rem 0;
}


.header-container {
    display: flex;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: space-between;

    .header-img {
        max-width: 18rem;
        max-height: 3.2rem;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .header-tab {
        display: inline-flex;
        gap: 5rem;
    }
}
