//sass --watch assets/css/style.scss:assets/css/style.css

// variables
$tablet: 1024px;
$phone: 360px;



//fonts
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf")
            format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf")
            format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf")
            format("ttf");
    font-weight: bold;
    font-style: normal;
}



// global styles
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 2rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 9.6rem;
    color: rgba(255, 255, 255, 1)
}

// class global style
.bg_global_img {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.tm__width {
    max-width: 1170px;
    margin: 0 auto;
}

.div-text {
    line-height: 140%;
}


.nav_item {
    text-decoration: none;
    color: #fff;
    position: relative;

    &:hover {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #fff;
            bottom: 0;
            left: 0;
        }
    }

    &.active {
        color: #EFA501 !important;

        &::after {
            height: 2px;
            background: #EFA501;
        }
    }
}


// block styles
.tm__header-container {
    padding: 2.9rem 0;
}


// header style
.header-container {
    display: flex;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: space-between;

    .header-img {
        max-width: 18rem;
        max-height: 3.2rem;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .header-tab {
        display: inline-flex;
        gap: 5rem;
    }
}


// first block style

.Tour_cont {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 25.4rem;

    .headline {
        margin-bottom: 5rem;
    }

    .div-text {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 5rem;
    }

    .btn {
        font-size: 1.7rem;
        padding: .5rem 2rem;
        border-radius: 1rem;
        background: #fff;
    }
}


// Second block style

.Tour_cont2 {
    margin-bottom: 13.5rem;
    
    .headline-2 {
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
        text-align: center;
    }

    .nav_tab {
        display: flex;
        gap: 3rem;
        margin: 0 auto;
        margin-bottom: 10rem;
        width: fit-content;

        .nav_item {
            font-weight: 700;
            font-size: 2.3rem;
            color: #000;
            cursor: pointer;

            &:hover::after {
                height: 2px;
                background: #000;
            }
        }
    }


    .pick_the_tour {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
    
    .pick_the_tour-card {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        border-radius: 5rem;
        max-width: 37rem;
        color: #fff;
        min-height: 53rem;

        &-1 {
            background: url('../images/card_tour_photo-1.jpg') no-repeat;
            object-fit: cover;
        }

        &-2 {
            background: url('../images/card_tour_photo-2.jpg')no-repeat;
            object-fit: cover;
        }

        &-3 {
            background: url('../images/card_tour_photo-3.jpg')no-repeat;
            object-fit: cover;
        }

        &-4 {
            background: url('../images/card_tour_photo-4.jpg')no-repeat;
            object-fit: cover;
        }

        &-5 {
            background: url('../images/card_tour_photo-5.jpg')no-repeat;
            object-fit: cover;
        }

        &-6 {
            background: url('../images/card_tour_photo-6.jpg')no-repeat;
            object-fit: cover;
        }

        &-header {
            font-size: 3.5rem;
            font-weight: 500;
        }

        &-price {
            font-size: 1.7rem;
        }

        &-btn {
            margin-top: auto;
            font-size: 2.3rem;
            font-weight: 700;
            
            span {
                margin-left: 1.5rem;
            }
        }
    }
}