@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 2rem;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 9.6rem;
  color: rgb(255, 255, 255);
}

.bg_global_img {
  position: absolute;
  z-index: -1;
  top: 0;
  max-width: 100%;
}
.bg_global_img img {
  max-width: 100%;
  max-height: 100%;
}

.tm__width {
  max-width: 1170px;
  margin: 0 auto;
}

.div-text {
  line-height: 140%;
}

.nav_item {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.nav_item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: 0;
}
.nav_item.active {
  color: #EFA501 !important;
}
.nav_item.active::after {
  height: 2px;
  background: #EFA501;
}

.headline-2 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  text-align: center;
}

.tm__header-container {
  padding: 2.9rem 0;
}

.header-container {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
}
.header-container .header-img {
  max-width: 18rem;
  max-height: 3.2rem;
}
.header-container .header-img img {
  max-width: 100%;
  max-height: 100%;
}
.header-container .header-tab {
  display: inline-flex;
  gap: 5rem;
}

.Tour_for_all {
  margin-bottom: 13.5rem;
}

.Tour_cont {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 25.4rem;
}
.Tour_cont .headline {
  margin-bottom: 5rem;
}
.Tour_cont .div-text {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 5rem;
}
.Tour_cont .btn {
  font-size: 1.7rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background: #fff;
}

.Tour_cont2 .nav_tab {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: fit-content;
}
.Tour_cont2 .nav_tab .nav_item {
  font-weight: 700;
  font-size: 2.3rem;
  color: #000;
  cursor: pointer;
}
.Tour_cont2 .nav_tab .nav_item:hover::after {
  height: 2px;
  background: #000;
}
.Tour_cont2 .pick_the_tour {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.Tour_cont2 .pick_the_tour-card {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  max-width: 37rem;
  color: #fff;
  min-height: 53rem;
}
.Tour_cont2 .pick_the_tour-card-1 {
  background: url("../images/card_tour_photo-1.jpg") no-repeat;
  object-fit: cover;
}
.Tour_cont2 .pick_the_tour-card-2 {
  background: url("../images/card_tour_photo-2.jpg") no-repeat;
  object-fit: cover;
}
.Tour_cont2 .pick_the_tour-card-3 {
  background: url("../images/card_tour_photo-3.jpg") no-repeat;
  object-fit: cover;
}
.Tour_cont2 .pick_the_tour-card-4 {
  background: url("../images/card_tour_photo-4.jpg") no-repeat;
  object-fit: cover;
}
.Tour_cont2 .pick_the_tour-card-5 {
  background: url("../images/card_tour_photo-5.jpg") no-repeat;
  object-fit: cover;
}
.Tour_cont2 .pick_the_tour-card-6 {
  background: url("../images/card_tour_photo-6.jpg") no-repeat;
  object-fit: cover;
}
.Tour_cont2 .pick_the_tour-card-header {
  font-size: 3.5rem;
  font-weight: 500;
}
.Tour_cont2 .pick_the_tour-card-price {
  font-size: 1.7rem;
}
.Tour_cont2 .pick_the_tour-card-btn {
  margin-top: auto;
  font-size: 2.3rem;
  font-weight: 700;
}
.Tour_cont2 .pick_the_tour-card-btn span {
  margin-left: 1.5rem;
}

.Tour_cont3 .div_text-wrapper {
  max-width: 47rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.Tour_cont3 .div_text-wrapper h2.headline-2 {
  margin-bottom: 3rem;
}
.Tour_cont3 .div_text-wrapper .div-text {
  color: #A6A6A6;
}

/*# sourceMappingURL=style.css.map */
