// black
$black_col: #1B1F2B;

// white
$white_col: #FFFFFF;

// orange 
$orange_col_200: #EFA501;
$orange_col_100: #F8E6BE;

// green
$green_col_400: #286562;
$green_col_300: #3B7E7B;
$green_col_200: #627F7E;
$green_col_100: #E0F0E5;

// gray
$gray_col_300:#A6A6A6;
$gray_col_200: #D9DFDB;
$gray_col_100: #F1F3F2;

// Beige
$beige_col_200: #F4F0E9;
$beige_col_100: #F9F7F4;