//sass --watch assets/css/scss/style.scss:assets/css/style.css

// imports
@import 'font_size.scss';
@import 'colors.scss';

// variables
$tablet: 1024px;
$phone: 360px;



//fonts
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf")
            format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf")
            format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf")
            format("ttf");
    font-weight: bold;
    font-style: normal;
}



// global styles
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 2rem;
}

.H1 {
    color: $white_col;
}

// class global style
.bg_global_img {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.body__bg {
    background: #F4F0E9;
}

.tm__width {
    max-width: 1170px;
    margin: 0 auto;
}

.div-text {
    line-height: 140%;
}


.nav_item {
    text-decoration: none;
    color: #fff;
    position: relative;

    &:hover {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #fff;
            bottom: 0;
            left: 0;
        }
    }

    &.active {
        color: #EFA501 !important;

        &::after {
            height: 2px;
            background: #EFA501;
        }
    }
}

.H2 {
    margin-bottom: 3.5rem;
}


// block styles
.tm__header-container {
    padding: 2.9rem 0;
}


// header style
.header-container {
    display: flex;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: space-between;

    .header-img {
        max-width: 18rem;
        max-height: 3.2rem;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .header-tab {
        display: inline-flex;
        gap: 5rem;
    }
}

.Tour_for_all {
    margin-bottom: 13.5rem;
}

// first block style

.Tour_cont {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 25.4rem;

    .H1 {
        margin-bottom: 5rem;
    }

    .div-text {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 5rem;
    }

    .btn {
        font-size: 1.7rem;
        padding: .5rem 2rem;
        border-radius: 1rem;
        background: #fff;
    }
}


// Second block style

.Tour_cont2 {
    text-align: center;

    .nav_tab {
        display: flex;
        gap: 3rem;
        margin: 0 auto;
        margin-bottom: 10rem;
        width: fit-content;

        .nav_item {
            font-weight: 700;
            font-size: 2.3rem;
            color: #000;
            cursor: pointer;

            &:hover::after {
                height: 2px;
                background: #000;
            }
        }
    }


    .pick_the_tour {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
    
    .pick_the_tour-card {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        border-radius: 5rem;
        max-width: 37rem;
        color: #fff;
        min-height: 53rem;
        box-shadow: inset 0 0 80px 120px #00000030;
        text-align: left;

        &-1 {
            background: url('../images/card_tour_photo-1.jpg') no-repeat;
            object-fit: cover;
        }

        &-2 {
            background: url('../images/card_tour_photo-2.jpg')no-repeat;
            object-fit: cover;
        }

        &-3 {
            background: url('../images/card_tour_photo-3.jpg')no-repeat;
            object-fit: cover;
        }

        &-4 {
            background: url('../images/card_tour_photo-4.jpg')no-repeat;
            object-fit: cover;
        }

        &-5 {
            background: url('../images/card_tour_photo-5.jpg')no-repeat;
            object-fit: cover;
        }

        &-6 {
            background: url('../images/card_tour_photo-6.jpg')no-repeat;
            object-fit: cover;
        }

        &-header {
            color: $white_col;
        }

        &-price {
            font-size: 1.7rem;
        }

        &-btn {
            margin-top: auto;
            font-size: 2.3rem;
            font-weight: 700;
            
            span {
                margin-left: 1.5rem;

                .arrow-to path {
                    fill: $white_col;
                }
            }
        }
    }
}


.Tour_cont3 {

    .div_text-wrapper {
        max-width: 47rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10rem;

        H2 {
          margin-bottom: 3rem;  
        }

        .div-text {
            color: #A6A6A6;
        }
    }

    .form_manager {
        padding: 7rem;
        border-radius: 5rem;
        background: #fff;

        .div_field-wrapper {
            display: flex;
            flex-direction: column;
        }

        .div_wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;

            .div_field-wrapper {
                width: calc(50% - 3rem);
            }

        }

        .p-normal {
            margin-bottom: .8rem;
        }

        .div-form-field,
        .div-form-field-large {
            background: $beige_col_100;
            padding: 2rem;
            border: 1px solid $beige_col_200;
            border-radius: 1rem;
            appearance: none;
            resize: none;

            &:focus {
                outline: none;
                border: 1px solid $gray_col_300;
            }

            &:focus-visible {
                outline: none;
            }

            &:hover {
                background: $beige_col_200;
            }
        }

        .div-form-select {
            position: relative;

            .div-form-field {
                width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                background: url('../icons/dropdown_icon.svg');
                background-repeat: no-repeat;
                width: 26px;
                height: 26px;
                top: 3rem;
                right: 2rem;
            }
        }

        .div-form-field[type="date"]::-webkit-inner-spin-button,
        .div-form-field[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
        }

        .div-form-field-large {
            margin-bottom: 3.3rem;
        }

        .div_confirm-field {
            display: flex;
            gap: 3.1rem;
            align-items: center;
        }

        .form-field-wrapper {
            position: relative;
            display: flex;
            margin-bottom: 3.3rem;
        }

        .div-form-radio {
            appearance: none;
            
            &:first {
                margin-right: 3.1rem;
            }

            &::before {
                content: " ";
                display: inline-flex;
                bottom: 0;
                height: 2.4rem;
                width: 2.4rem;
                margin-right: 1.1rem;
                border-radius: 100%;
                border:2px solid $black_col;
            }

            &:checked::after {
                content: "";
                position: absolute;
                display: inline-flex;
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 100%;
                background: $black_col;
                top: .6rem;
                left: .6rem;
            }
        }

        .div-form-checkbox {
            appearance: none;

            &::before {
                content: "";
                display: inline-flex;
                width: 2.4rem;
                height: 2.4rem;
                border: 2px solid $black_col;
                margin-right: 1.1rem;
                border-radius: 0.5rem;
            }

            &:checked::after {
                content: "";
                position: absolute;
                width: 1.3rem;
                height: 1rem;
                top: .7rem;
                left: .6rem;
                background: url('data:image/svg+xml,<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.293044 4.53581C0.683569 4.14529 1.31673 4.14529 1.70726 4.53581L4.62161 7.45017L11.1574 0.914353C11.5479 0.523829 12.1811 0.523829 12.5716 0.914353C12.9622 1.30488 12.9622 1.93804 12.5716 2.32857L5.32872 9.57149C4.93819 9.96201 4.30503 9.96201 3.9145 9.57149L0.293044 5.95003C-0.09748 5.5595 -0.09748 4.92634 0.293044 4.53581Z" fill="%231B1F2B"/></svg>');
            }
        }  

        .p-gray-text {
            color: $gray_col_300;
        }

        .licenes_confirm {
            text-decoration: none;
        }

        .div_form-btn {
            padding: 1.5rem 3rem;
            border: none;
            border-radius: 1rem;
            
            &-find {
                background: $green_col_400;
                color: $white_col;
                margin-right: 3rem;
            }

            &-clear {
                background: $green_col_100;
                color: $green_col_400;
            }
        }
    }
}